<a href="https://colab.research.google.com/github/gchaewon/Euron5th_BusTayo/blob/main/preprocessing_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 서울시 버스 승하차 예측 데이터 전처리 - test

In [2]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

## 1. 데이터 로딩

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

23.9 ~ 23.11까지 월별 서울시 버스 승하차 데이터

In [29]:
path = '/content/drive/MyDrive/Euron/프로젝트/'


test_files = ['bus_23_9.csv', 'bus_23_10.csv', 'bus_23_11.csv']

test_df = [pd.read_csv(path+'test/'+f, encoding='cp949') for f in test_files]

test = pd.concat(test_df)

print(test.shape)
test.head(1)

(125576, 57)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,202309,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리(00032),11,18,168,236,...,0,0,0,0,0,0,0,51,서울심야버스,20231003

In [30]:
test.tail(1)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
41563,202311,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상)(00078),0,4,0,4,...,6,0,7,0,4,0,4,50,서울광역버스,20231203

## 2. 전처리

### 1) 불필요한 피처 삭제

등록일자, 교통수단타입코드, 버스정류장ARS번호, 표준버스정류장ID, 노선명

In [31]:
test.columns

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '교통수단타입코드',
       '교통수단타입명', '등록일자'],
      dtype='object')

In [32]:
test = test.drop(['등록일자', '교통수단타입코드', '버스정류장ARS번호', '표준버스정류장ID', '노선명'], axis =1)
test.columns

Index(['사용년월', '노선번호', '역명', '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수',
       '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수', '4시하차총승객수',
       '5시승차총승객수', '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수',
       '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '교통수단타입명'],
      dtype='object')

### 2) 심야 시간 10시 ~ 5시 데이터 삭제

In [33]:
hours_to_drop = ['22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수',
                 '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수',
                 '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수',
                 '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수']

test = test.drop(columns=hours_to_drop, axis=1)

In [34]:
test.head(1)

,사용년월,노선번호,역명,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,9시승차총승객수,...,17시하차총승객수,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,교통수단타입명
0,202309,N37,종로2가사거리(00032),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,서울심야버스

### 3) 심야버스 제거

In [35]:
train = test[test['교통수단타입명'] != '서울심야버스']
count = test[test['교통수단타입명'] == '서울심야버스'].shape[0]
print(f'서울심야버스인 행의 개수: {count}')

서울심야버스인 행의 개수: 12430

### 4) 역 고유 번호 피처 추가

역명 피처의 (00000) 5자리 번호를 역 고유 값 피처 역번호로 추가하기

In [36]:
test['역번호'] = test['역명'].str.extract(r'\((\d+)\)')

In [37]:
test.head(1)

,사용년월,노선번호,역명,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,9시승차총승객수,...,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,교통수단타입명,역번호
0,202309,N37,종로2가사거리(00032),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,서울심야버스,00032

### 5) 피처명 변경
- month(월 단위)
- bus_route_id(표준 버스 정류장 ID)
- bus_id(노선 번호)
- station_name(역명)
- X~Y ride(1시간 단위 승차 총 승객 수)
- X~Y takeoff(1시간 단위 하차 총 승객 수)
- bus_type(교통 수단 타입명)
- bus_station_ID (역 고유 번호)

In [38]:
test.columns

Index(['사용년월', '노선번호', '역명', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수',
       '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '교통수단타입명', '역번호'],
      dtype='object')

In [39]:
columns={'사용년월':'month', '노선번호': 'bus_id',
         '역명':'station_name', '교통수단타입명':'type', '역번호': 'bus_station_ID'}

test.rename(columns=columns, inplace=True)

In [40]:
# 승하차 칼럼명 변경
for hour in range(6, 22):
    ride_column = f'{hour}시승차총승객수'
    new_ride_column = f'{hour}~{hour+1}_ride'
    test.rename(columns={ride_column: new_ride_column}, inplace=True)

    takeoff_column = f'{hour}시하차총승객수'
    new_takeoff_column = f'{hour}~{hour+1}_takeoff'
    test.rename(columns={takeoff_column: new_takeoff_column}, inplace=True)

In [41]:
test.head(1)

,month,bus_id,station_name,6~7_ride,6~7_takeoff,7~8_ride,7~8_takeoff,8~9_ride,8~9_takeoff,9~10_ride,...,18~19_ride,18~19_takeoff,19~20_ride,19~20_takeoff,20~21_ride,20~21_takeoff,21~22_ride,21~22_takeoff,type,bus_station_ID
0,202309,N37,종로2가사거리(00032),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,서울심야버스,00032

In [42]:
test.columns

Index(['month', 'bus_id', 'station_name', '6~7_ride', '6~7_takeoff',
       '7~8_ride', '7~8_takeoff', '8~9_ride', '8~9_takeoff', '9~10_ride',
       '9~10_takeoff', '10~11_ride', '10~11_takeoff', '11~12_ride',
       '11~12_takeoff', '12~13_ride', '12~13_takeoff', '13~14_ride',
       '13~14_takeoff', '14~15_ride', '14~15_takeoff', '15~16_ride',
       '15~16_takeoff', '16~17_ride', '16~17_takeoff', '17~18_ride',
       '17~18_takeoff', '18~19_ride', '18~19_takeoff', '19~20_ride',
       '19~20_takeoff', '20~21_ride', '20~21_takeoff', '21~22_ride',
       '21~22_takeoff', 'type', 'bus_station_ID'],
      dtype='object')

### 6) 2시간씩 묶기

In [43]:
ride_columns = [col for col in test.columns if '_ride' in col]
takeoff_columns = [col for col in test.columns if '_takeoff' in col]

# 새로운 칼럼 이름
new_ride_columns = ['6~8_ride', '8~10_ride', '10~12_ride', '12~14_ride', '14~16_ride', '16~18_ride', '18~20_ride', '20~22_ride']
new_takeoff_columns = ['6~8_takeoff', '8~10_takeoff', '10~12_takeoff', '12~14_takeoff', '14~16_takeoff', '16~18_takeoff', '18~20_takeoff', '20~22_takeoff']

# 각 시간대에 대해 ride와 takeoff 칼럼을 합쳐서 새로운 칼럼 생성
for i in range(len(new_ride_columns)):
    ride_column_names = ride_columns[i:i+2]
    takeoff_column_names = takeoff_columns[i:i+2]

    test[new_ride_columns[i]] = test[ride_column_names].sum(axis=1)
    test[new_takeoff_columns[i]] = test[takeoff_column_names].sum(axis=1)

# 기존의 ride와 takeoff 칼럼 삭제
test.drop(columns=ride_columns + takeoff_columns, inplace=True)

In [44]:
test.columns

Index(['month', 'bus_id', 'station_name', 'type', 'bus_station_ID', '6~8_ride',
       '6~8_takeoff', '8~10_ride', '8~10_takeoff', '10~12_ride',
       '10~12_takeoff', '12~14_ride', '12~14_takeoff', '14~16_ride',
       '14~16_takeoff', '16~18_ride', '16~18_takeoff', '18~20_ride',
       '18~20_takeoff', '20~22_ride', '20~22_takeoff'],
      dtype='object')

In [45]:
test.head(2)

,month,bus_id,station_name,type,bus_station_ID,6~8_ride,6~8_takeoff,8~10_ride,8~10_takeoff,10~12_ride,...,12~14_ride,12~14_takeoff,14~16_ride,14~16_takeoff,16~18_ride,16~18_takeoff,18~20_ride,18~20_takeoff,20~22_ride,20~22_takeoff
0,202309,N37,종로2가사거리(00032),서울심야버스,00032,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,202309,470,종로2가사거리(00066),서울간선버스,00066,699,349,1160,629,1292,...,1196,711,1191,788,1130,904,988,882,886,883

## 7) 날씨 데이터 (강수량, 평균 기온 칼럼 추가)

In [64]:
rain = pd.read_csv(path+'data/rain.csv', encoding='cp949')
rain = rain[20:23] # 23년 9월 ~ 23년 11월 데이터만 추출
rain = rain['강수량(mm)']
rain.reset_index(drop=True, inplace=True)
rain

0    134.5
1     31.0
2     81.9
Name: 강수량(mm), dtype: float64

In [63]:
temp = pd.read_csv(path+'data/temp.csv', encoding='cp949')
temp = temp[20:23] # 23년 9월 ~ 23년 11월 데이터만 추출
temp = temp['평균기온(℃)']
temp.reset_index(drop=True, inplace=True)
temp

0    23.7
1    15.8
2     6.8
Name: 평균기온(℃), dtype: float64

In [65]:
month = [202309, 202310, 202311]
month = pd.DataFrame(month, columns = ['month'])

weather = pd.concat([month, rain, temp], axis=1)
weather.rename(columns={'강수량(mm)': 'rain', '평균기온(℃)': 'temp'}, inplace=True)
weather

    month   rain  temp
0  202309  134.5  23.7
1  202310   31.0  15.8
2  202311   81.9   6.8

In [67]:
test = pd.merge(test, weather, on='month', how='left')
test

,month,bus_id,station_name,type,bus_station_ID,6~8_ride,6~8_takeoff,8~10_ride,8~10_takeoff,10~12_ride,...,14~16_ride,14~16_takeoff,16~18_ride,16~18_takeoff,18~20_ride,18~20_takeoff,20~22_ride,20~22_takeoff,rain,temp
0,202309,N37,종로2가사거리(00032),서울심야버스,00032,0,0,0,0,0,...,0,0,0,0,0,0,0,0,134.5,23.7
1,202309,470,종로2가사거리(00066),서울간선버스,00066,699,349,1160,629,1292,...,1191,788,1130,904,988,882,886,883,134.5,23.7
2,202309,N37,종로2가사거리(00089),서울심야버스,00089,0,0,0,0,0,...,0,0,0,0,0,0,0,0,134.5,23.7
3,202309,741,종로2가사거리(00075),서울간선버스,00075,524,358,789,637,838,...,588,825,567,838,627,868,648,887,134.5,23.7
4,202309,100,창경궁.서울대학교병원(00031),서울간선버스,00031,258,681,439,998,546,...,313,464,272,355,256,366,252,412,134.5,23.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125571,202311,672,김포교통(종점가상)(00081),서울간선버스,00081,0,0,0,0,0,...,0,1,0,1,0,0,0,0,81.9,6.8
125572,202311,9404,구미동차고지(기점가상)(00001),서울광역버스,00001,3,7,1,3,2,...,3,0,5,0,5,2,3,2,81.9,6.8
125573,202311,9404,구미동차고지(종점가상)(00060),서울광역버스,00060,0,5,0,2,0,...,0,1,0,0,0,0,0,0,81.9,6.8
125574,202311,9701,가좌동종점(종점가상)(00127),서울광역버스,00127,0,0,0,17,0,...,0,4,0,2,0,2,0,2,81.9,6.8
125575,202311,9707,가좌동종점(종점가상)(00078),서울광역버스,00078,0,0,0,16,0,...,0,5,0,3,0,8,0,7,81.9,6.8

## 2. 파일로 저장

In [68]:
test.to_csv(path+'test.csv', index=False)